@font-face {
    font-family: 'merriweather';
    src: font-url('merriweather-regular-webfont.eot');
    src: font-url('merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('merriweather-regular-webfont.woff') format('woff'),
         font-url('merriweather-regular-webfont.ttf') format('truetype'),
         font-url('merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: font-url('proximanova-regular-webfont.eot');
    src: font-url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('proximanova-regular-webfont.woff') format('woff'),
         font-url('proximanova-regular-webfont.ttf') format('truetype'),
         font-url('proximanova-regular-webfont.svg#proximanovabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: font-url('proximanova-bold-webfont.eot');
    src: font-url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('proximanova-bold-webfont.woff') format('woff'),
         font-url('proximanova-bold-webfont.ttf') format('truetype'),
         font-url('proximanova-bold-webfont.svg#proximanovabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'orator';
    src: font-url('OratorStd_0.eot');
    src: font-url('OratorStd_0.eot?#iefix') format('embedded-opentype'),
         font-url('OratorStd_0.woff') format('woff'),
         font-url('OratorStd_0.ttf') format('truetype'),
         font-url('OratorStd_0.svg#OratorStd_0') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*----- General Styles ---------------*/

html {
  overflow-x: hidden;
}

html, body {
  color: #333;
  font-family: 'merriweather', Georgia, serif;
  font-size: 100% !important;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 10px;
  padding: 3px 10px;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.hidden {
  display: none;
}

.navbar .container {
  background-image: image-url('hubhacks-banner-sprite.gif');
  background-repeat: repeat-x;
  height: 115px;
}

ul.nav li {
  float: right;
  margin: 10px 20px 0 0;
}

li.menu-item, li.menu-item a {
  color: #fff;
  text-decoration: none;
}

li.menu-item a:hover {
  text-decoration: underline;
}

#logo {
  background-image: image-url('hubhacks.gif');
  background-repeat: no-repeat;
  float: left;
  height: 115px;
  width: 624px;
}

.title-container {
  padding: 0 20px;
  position: relative;
  text-align: center;
}

#site-title {
  width: 100%;
}

.road-map-label {
  float: right;
  font-style: italic;
  margin-top: 3px;
}

#print-me {
  background: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 500;
}

#print-me:hover {
  border: none;
  background: rgb(244, 3, 15);
  color: #fff;
}

#spin-me {
  background-image: image-url('general-assembly.gif');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 75px;
  position: absolute;
  right: 40px;
  top: 240px;
  width: 75px;
  z-index: 100;
}

#road-map {
  background-color: #000;
  height: 1px;
  margin: 0 15px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}

.road-map-box {
  // border-top: 1px solid #fff;
  cursor: pointer;
  height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10px;
  width: 20px;
}

.road-map-box-description {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  display: none;
  font-family: 'merriweather', Georgia, serif;
  font-size: 11px;
  margin-top: 5px;
  padding: 5px;
  position: absolute;
  top: 10px;
}

#wheel-container {
  display: block;
  height: 1724px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 150px;
  width: 1724px;
}

#wheel {
  display: block;
  height: 1724px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1724px;
}

.step-container{
  height: 324px;
  position: absolute;
  width: 200px;
}

.step-box{
  // border-radius: 5px;
  color: #fff;
  font-family: 'merriweather', Georgia, serif;
  height: 324px;
  left: 0;
  padding: 20px;
  position: relative;
  top: 0;
  width: 200px;
}

.step-category {
  float: right;
  font-family: 'proximanova', Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
}

.step-title {
  clear: right;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.step-text, .step-response-text{
  font-size: 9px;
}

.step-id{
  bottom: 5px;
  font-size: 36px;
  position: absolute;
}

.step-response-container {
  bottom: 0;
  height: 100%;
  position: relative;
}

.step-response-btn {
  font-size: 9px;
}

.step-continue-btn {
  border-radius: 2px;
  font-family: 'merriweather', Georgia, serif;
  font-size: 9px;
  padding: 2px 5px;
}

.step-response-text {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 8px;
  word-wrap: break-word;
}

.resultset-header {
  border-bottom: 1px solid #999;
  text-align: center;
}

.resultset {
}
