@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-regular-webfont.eot');
    src: url('fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-regular-webfont.woff') format('woff'),
         url('fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proximanovabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proximanovabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'orator';
    src: url('fonts/OratorStd_0.eot');
    src: url('fonts/OratorStd_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/OratorStd_0.woff') format('woff'),
         url('fonts/OratorStd_0.ttf') format('truetype'),
         url('fonts/OratorStd_0.svg#OratorStd_0') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*----- General Styles ---------------*/

body {
  color: #333;
  font-family: 'merriweather', Georgia, serif;
  font-size: 100% !important;
  font-weight: normal;
}

button {
  margin-top: 10px;
  padding: 3px 10px;
}

#wheel-container {
  display: block;
  height: 1724px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 300px;
  width: 1724px;
}

#wheel {
  display: block;
  height: 1724px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1724px;
}

.step-container{
  height: 324px;
  position: absolute;
  width: 200px;
}

.step-box{
  border-radius: 5px;
  color: #fff;
  font-family: 'merriweather', Georgia, serif;
  height: 324px;
  left: 0;
  padding: 20px;
  position: relative;
  top: 0;
  width: 200px;
}

.step-category {
  float: right;
  font-family: 'proximanova', Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
}

.step-title {
  clear: right;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.step-text{
  font-size: 9px;
}

.step-id{
  bottom: 5px;
  font-size: 36px;
  position: absolute;
}

.step-continue-btn {
  border-radius: 2px;
  font-family: 'merriweather', Georgia, serif;
  font-size: 9px;
  padding: 2px 5px;
}

.response-text {
  padding-top: 10px;
}

.resultset-header {
  border-bottom: 1px solid #999;
  text-align: center;
}

.resultset {
}
